apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nvidia-kubevirt-gpu-dp-daemonset
  namespace: kube-system
spec:
  selector:
    matchLabels:
      name: nvidia-kubevirt-gpu-dp-ds
  template:
    metadata:
      # Mark this pod as a critical add-on; when enabled, the critical add-on scheduler
      # reserves resources for critical add-on pods so that they can be rescheduled after
      # a failure.  This annotation works in tandem with the toleration below.
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
      labels:
        name: nvidia-kubevirt-gpu-dp-ds
    spec:
      tolerations:
      # Allow this pod to be rescheduled while the node is in "critical add-ons only" mode.
      # This, along with the annotation above marks this pod as a critical add-on.
      - key: CriticalAddonsOnly
        operator: Exists
      containers:
      - name: nvidia-kubevirt-gpu-dp-ctr
        image: nvcr.io/nvidia/kubevirt-gpu-device-plugin:v1.1.0
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        volumeMounts:
          - name: device-plugin
            mountPath: /var/lib/kubelet/device-plugins
      imagePullSecrets:
      - name: regcred
      volumes:
        - name: device-plugin
          hostPath:
            path: /var/lib/kubelet/device-plugins
